 # Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.9.0)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

In [3]:
driver =webdriver.Chrome(r"chromedriver.exe")

In [4]:
# Opening the Naukari page
driver.get("https://www.naukri.com/")

In [5]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [6]:
location =driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [7]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title =[]
job_location =[]
company_name= []
exprience_required =[]

In [9]:
title_tags = driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
location_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth'] ")
for i in location_tags[0:10]:
    location =i.text
    job_location.append(location)
company = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft'] ")
for i in company [0:10]:
    com = i.text
    company_name.append(com)
exprience =driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth'] ")
for i in exprience[0:10]:
    exe = i.text
    exprience_required.append(exe)

In [10]:
Data = pd.DataFrame({"job_title":job_title,"job_location":job_location,"company_name":company_name,"exprience_required":exprience_required})
Data

,job_title,job_location,company_name,exprience_required
0,Data Analyst,Bangalore/Bengaluru,ANZ,6-9 Yrs
1,Data Analyst,Bangalore/Bengaluru,ANZ,6-10 Yrs
2,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
3,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
4,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
5,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
6,Data Analyst - IIT/BITS/Startups,Bangalore/Bengaluru,AVE Promagne,1-5 Yrs
7,Data Analyst,"Temp. WFH - Bangalore/Bengaluru, Noida, Pune, ...",Infogain,4-7 Yrs
8,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",Coforge,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Dpdzero,1-3 Yrs

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data

In [11]:
driver =webdriver.Chrome(r"chromedriver.exe")

In [12]:
driver.get("https://www.naukri.com/")

In [13]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [14]:
location =driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [15]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [16]:
J_T =[]
J_L =[]
C_N =[]

In [19]:
title_tags = driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    J_T.append(title)
location_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth'] ")
for i in location_tags[0:10]:
    location =i.text
    J_L.append(location)
company = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft'] ")
for i in company [0:10]:
    com = i.text
    C_N.append(com)

In [20]:
print(len(J_T),len(J_L),len(C_N))

10 10 10

In [21]:
Data = pd.DataFrame({"job_title":J_T,"job_location":J_L,"company_name":C_N})
Data

,job_title,job_location,company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,"Manager, Data Solution Specialist","Bangalore/Bengaluru, Mumbai, New Delhi",Pfizer
2,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
3,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
4,Permanent Opportunity For Data scientist with AWS,"Hybrid - Bangalore/Bengaluru, Chennai, Coimbat...",Deloitte
5,Data Scientist,Bangalore/Bengaluru,Infosys
6,R&D Specialist,Bangalore/Bengaluru,Nokia
7,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
8,Data Science Analyst,Bangalore/Bengaluru,Accenture
9,Data Scientist,Bangalore/Bengaluru,IBM














# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results. 
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [22]:
driver.get("https://www.naukri.com/")

In [23]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")

In [24]:
location =driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [25]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [26]:
driver.execute_script("window.scrollBy(0,500)")

In [27]:
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
salary.click()

In [28]:
driver.execute_script("window.scrollBy(0,700)")
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[13]/div[2]/div[3]/label/i")
location.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[13]/div[2]/div[3]/label/i"}
  (Session info: chrome=113.0.5672.93)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00D58893+48451]
	(No symbol) [0x00CEB8A1]
	(No symbol) [0x00BF5058]
	(No symbol) [0x00C20467]
	(No symbol) [0x00C2069B]
	(No symbol) [0x00C4DD92]
	(No symbol) [0x00C3A304]
	(No symbol) [0x00C4C482]
	(No symbol) [0x00C3A0B6]
	(No symbol) [0x00C17E08]
	(No symbol) [0x00C18F2D]
	GetHandleVerifier [0x00FB8E3A+2540266]
	GetHandleVerifier [0x00FF8959+2801161]
	GetHandleVerifier [0x00FF295C+2776588]
	GetHandleVerifier [0x00DE2280+612144]
	(No symbol) [0x00CF4F6C]
	(No symbol) [0x00CF11D8]
	(No symbol) [0x00CF12BB]
	(No symbol) [0x00CE4857]
	BaseThreadInitThunk [0x77250099+25]
	RtlGetAppContainerNamedObjectPath [0x77B67B6E+286]
	RtlGetAppContainerNamedObjectPath [0x77B67B3E+238]

In [29]:
job_title =[]
job_location =[]
company_name= []
exprience_required =[]

In [30]:
title_tags = driver.find_elements(By.XPATH,"//a[@class='title ellipsis']")
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
location_tags = driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft locWdth'] ")
for i in location_tags[0:10]:
    location =i.text
    job_location.append(location)
company = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft'] ")
for i in company [0:10]:
    com = i.text
    company_name.append(com)
exprience =driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft expwdth'] ")
for i in exprience[0:10]:
    exe = i.text
    exprience_required.append(exe)

In [31]:
Data = pd.DataFrame({"job_title":job_title,"job_location":job_location,"company_name":company_name,"exprience_required":exprience_required})
Data

,job_title,job_location,company_name,exprience_required
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,"Manager, Data Solution Specialist","Mumbai, New Delhi, Bangalore/Bengaluru",Pfizer,3-5 Yrs
2,Data Scientist,Bangalore/Bengaluru,Infosys,3-8 Yrs
3,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software,3-6 Yrs
4,Data Science Analyst,Bangalore/Bengaluru,Accenture,3-5 Yrs
5,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
6,Sr. Data scientist,"Hybrid - Bangalore/Bengaluru, Mumbai (All Areas)",PayU,1-6 Yrs
7,Data Scientist - AI/ML,Bangalore/Bengaluru,SAP,3-7 Yrs
8,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
9,Data Scientist,Bangalore/Bengaluru,Capgemini,3-5 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.
Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.
ASSIGNMENT 2
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses

In [32]:
driver.get("https://www.flipkart.com/")

In [33]:
close = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close.click()

In [34]:
Searh_bar = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Searh_bar.send_keys("sunglasses")

In [35]:
Search_button =driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
Search_button.click()

In [36]:
Brand = []
ProductDescription = []
Price = []

In [40]:
for page in range(3):
    titles = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles:
         Brand.append(i.text)
    PD = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in PD :
        ProductDescription.append(i.text)
    price =driver.find_elements(By.XPATH,"//div[@class ='_30jeq3']")
    for i in price:
        Price.append(i.text)
    driver.execute_script("scrollBy(0,500)")    
    next_button = driver.find_element(By.XPATH,"//*[text() ='Next']")
    next_button.click()
    time.sleep(3)

In [41]:
Data=pd.DataFrame()
Data["BRAND"]=Brand[:100]
Data["PRODUCT_DESCRIPTION"]=ProductDescription[:100]
Data["PRICE"]=Price[:100]
Data

            BRAND                                PRODUCT_DESCRIPTION PRICE
0   VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹849
1   VINCENT CHASE             UV Protection Wayfarer Sunglasses (59)  ₹509
2          PIRASO           UV Protection Clubmaster Sunglasses (54)  ₹224
3          PIRASO       UV Protection Aviator Sunglasses (Free Size)  ₹268
4          TamTam  UV Protection Retro Square Sunglasses (Free Size)  ₹181
..            ...                                                ...   ...
95         AISLIN  Polarized, UV Protection Retro Square Sunglass...  ₹535
96  VINCENT CHASE  UV Protection, Gradient Cat-eye, Oval Sunglass...  ₹689
97          NuVew  Riding Glasses, UV Protection Clubmaster, Wayf...  ₹129
98      ROYAL SON              Polarized Rectangular Sunglasses (59)  ₹519
99         AISLIN  Polarized, Gradient, UV Protection, Mirrored O...  ₹495

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKARAs shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [42]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [43]:
Rating = []
Review_summary =[]
Full_review = []

In [44]:
for page in range(10):
    titles = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in titles:
         Rating.append(i.text)
    RS = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in RS :
        Review_summary.append(i.text)
    FR =driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in FR:
        Full_review.append(i.text)
    next_button = driver.find_element(By.XPATH,"//*[text() ='Next']")
    next_button.click()
    time.sleep(3)

In [45]:
R_T = []
for page in range(10):
    rating = driver.find_elements(By.XPATH,"//div[@class= '_3LWZlK _1rdVr6 _1BLPMq']")
    for i in rating:
        R_T.append(i.text)
    next_button = driver.find_element(By.XPATH,"//*[text() ='Next']")
    next_button.click()
    time.sleep(3)
Rating.insert(60,R_T[0])
Rating.insert(62,R_T[1])

In [46]:
print(len(Rating),len(Review_summary),len(Full_review))

100 100 100

In [47]:
df = pd.DataFrame({"Rating":Rating,"Review_summary":Review_summary,"Full_review":Full_review})
df

,Rating,Review_summary,Full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
96,5,Wonderful,Its good.. a little heavy on my pinky but its ...
97,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
98,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
99,5,Perfect product!,Worth the money’ starting first from its perfo...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [48]:
driver.get("https://www.flipkart.com/")

In [49]:
close = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
close.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[2]/div/div/button"}
  (Session info: chrome=113.0.5672.93)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00D58893+48451]
	(No symbol) [0x00CEB8A1]
	(No symbol) [0x00BF5058]
	(No symbol) [0x00C20467]
	(No symbol) [0x00C2069B]
	(No symbol) [0x00C4DD92]
	(No symbol) [0x00C3A304]
	(No symbol) [0x00C4C482]
	(No symbol) [0x00C3A0B6]
	(No symbol) [0x00C17E08]
	(No symbol) [0x00C18F2D]
	GetHandleVerifier [0x00FB8E3A+2540266]
	GetHandleVerifier [0x00FF8959+2801161]
	GetHandleVerifier [0x00FF295C+2776588]
	GetHandleVerifier [0x00DE2280+612144]
	(No symbol) [0x00CF4F6C]
	(No symbol) [0x00CF11D8]
	(No symbol) [0x00CF12BB]
	(No symbol) [0x00CE4857]
	BaseThreadInitThunk [0x77250099+25]
	RtlGetAppContainerNamedObjectPath [0x77B67B6E+286]
	RtlGetAppContainerNamedObjectPath [0x77B67B3E+238]

In [50]:
Searh_bar = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Searh_bar.send_keys("sneakers")

In [51]:
Search_button =driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
Search_button.click()

In [52]:
brand =[]
description =[]
R_P =[]

In [53]:
for page in range(3):
    titles = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles:
         brand.append(i.text)
    PD = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in PD :
        description.append(i.text)
    price =driver.find_elements(By.XPATH,"//div[@class ='_30jeq3']")
    for i in price:
        R_P.append(i.text)
    next_button = driver.find_element(By.XPATH, "//*[text() ='Next']")
    next_button.click()
    time.sleep(3)

In [54]:
Data=pd.DataFrame()
Data["BRAND"]=brand[:100]
Data["PRODUCT_DESCRIPTION"]=description[:100]
Data["PRICE"]=R_P[:100]
Data

          BRAND                                PRODUCT_DESCRIPTION   PRICE
0        Labbin                                   Sneakers For Men    ₹429
1      RapidBox                                   Sneakers For Men    ₹579
2         BIRDE  Premium Sports Shoes For Men Pack Of 2 Sneaker...    ₹449
3          aadi  Synthetic| Lightweight| Premiun| Comfort| Summ...    ₹269
4        Kraasa                                 Sneakers For Women    ₹299
..          ...                                                ...     ...
95     HOTSTYLE  Stylish Walking Partywear Sneakers Casual Shoe...    ₹499
96       Footox      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹499
97  SOLETHREADS                                   Sneakers For Men  ₹1,549
98         PUMA  Premium Casual Shoes for Women Sneakers For Women  ₹1,259
99       Shozie                                 Sneakers For Women    ₹489

[100 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [55]:
driver.get("https://www.amazon.in/")

In [56]:
serch_bar = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
serch_bar.clear()

In [57]:
serch_bar = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
serch_bar.send_keys("Laptop")

In [58]:
serch_B = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div")
serch_B.click()

In [59]:
driver.execute_script("window.scrollBy(0,600)")
time.sleep(3)

In [60]:
I_B = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[13]/li/span/a/div/label/i")
I_B.click()

In [61]:
Name = []
L_R  = []
L_P = []

In [62]:
laptop = driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in laptop[0:10]:
    L_N = i.text
    Name.append(L_N)
laptop_p =driver.find_elements(By.XPATH,"//span[@class ='a-price-whole']")    
for i in laptop_p[0:10]:
    l_p =i.text
    L_P.append(l_p)

In [63]:
url2=driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style']")
rating_url=[]
for i in url2[:10]:
    rating_url.append(i.get_attribute('href'))
rating_url

['https://www.amazon.in/Renewed-E3-1505M-Processor-Notebook-Computer/dp/B0BSP1J4G5/ref=sr_1_2?crid=303MZUJBI0QKV&keywords=Laptop&qid=1683649405&refinements=p_n_feature_thirteen_browse-bin%3A12598165031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C518&sr=1-2#customerReviews',
 'https://www.amazon.in/Crucial-BX500-240GB-2-5-inch-CT240BX500SSD1/dp/B07G3YNLJB/ref=sxbs_aspa_sqa?content-id=amzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c%3Aamzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&crid=303MZUJBI0QKV&cv_ct_cx=Laptop&keywords=Laptop&pd_rd_i=B07G3YNLJB&pd_rd_r=533dbb55-2b1d-4b82-a0ad-b79a84708c8f&pd_rd_w=hAgO2&pd_rd_wg=w4pm0&pf_rd_p=2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&pf_rd_r=Q096PT48B4NCE7MN2K6Z&qid=1683649405&refinements=p_n_feature_thirteen_browse-bin%3A12598165031&rnid=12598141031&s=computers&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=laptop%2Caps%2C518&sr=1-1-93291ede-2a7a-4e75-a6c2-b89c29736263#customerReviews',
 'https://www.amazon.in/gp/goldbox/',
 'https://www.amazon.in/gp/bestsellers/computers/1375379031/ref=sr_bs_2_1375379031_1',
 'https://www.amazon.in/Crucial-BX500-500GB-2-5-inch-Internal/dp/B0B9BL9T4H/ref=sxbs_aspa_sqa?content-id=amzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c%3Aamzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&crid=303MZUJBI0QKV&cv_ct_cx=Laptop&keywords=Laptop&pd_rd_i=B0B9BL9T4H&pd_rd_r=533dbb55-2b1d-4b82-a0ad-b79a84708c8f&pd_rd_w=hAgO2&pd_rd_wg=w4pm0&pf_rd_p=2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&pf_rd_r=Q096PT48B4NCE7MN2K6Z&qid=1683649405&refinements=p_n_feature_thirteen_browse-bin%3A12598165031&rnid=12598141031&s=computers&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=laptop%2Caps%2C518&sr=1-3-93291ede-2a7a-4e75-a6c2-b89c29736263#customerReviews',
 'https://www.amazon.in/gp/goldbox/',
 'https://www.amazon.in/Western-Digital-Green-240GB-Internal/dp/B09TMZ1MF8/ref=sxbs_aspa_sqa?content-id=amzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c%3Aamzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&crid=303MZUJBI0QKV&cv_ct_cx=Laptop&keywords=Laptop&pd_rd_i=B09TMZ1MF8&pd_rd_r=533dbb55-2b1d-4b82-a0ad-b79a84708c8f&pd_rd_w=hAgO2&pd_rd_wg=w4pm0&pf_rd_p=2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&pf_rd_r=Q096PT48B4NCE7MN2K6Z&qid=1683649405&refinements=p_n_feature_thirteen_browse-bin%3A12598165031&rnid=12598141031&s=computers&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=laptop%2Caps%2C518&sr=1-5-93291ede-2a7a-4e75-a6c2-b89c29736263#customerReviews',
 'https://www.amazon.in/Samsung-Shield-External-Portable-MU-PE1T0R/dp/B09YHQ2J5T/ref=sxbs_aspa_sqa?content-id=amzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c%3Aamzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&crid=303MZUJBI0QKV&cv_ct_cx=Laptop&keywords=Laptop&pd_rd_i=B09YHQ2J5T&pd_rd_r=533dbb55-2b1d-4b82-a0ad-b79a84708c8f&pd_rd_w=hAgO2&pd_rd_wg=w4pm0&pf_rd_p=2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&pf_rd_r=Q096PT48B4NCE7MN2K6Z&qid=1683649405&refinements=p_n_feature_thirteen_browse-bin%3A12598165031&rnid=12598141031&s=computers&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=laptop%2Caps%2C518&sr=1-7-93291ede-2a7a-4e75-a6c2-b89c29736263#customerReviews',
 'https://www.amazon.in/gp/goldbox/',
 'https://www.amazon.in/Lenovo-i3-1115G4-Warranty-Platinum-81X800LCIN/dp/B0B9YHX39M/ref=sxbs_aspa_sqa?content-id=amzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c%3Aamzn1.sym.2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&crid=303MZUJBI0QKV&cv_ct_cx=Laptop&keywords=Laptop&pd_rd_i=B0B9YHX39M&pd_rd_r=533dbb55-2b1d-4b82-a0ad-b79a84708c8f&pd_rd_w=hAgO2&pd_rd_wg=w4pm0&pf_rd_p=2ebf6aef-07da-440f-8e9d-3a959a5bfb5c&pf_rd_r=Q096PT48B4NCE7MN2K6Z&qid=1683649405&refinements=p_n_feature_thirteen_browse-bin%3A12598165031&rnid=12598141031&s=computers&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=laptop%2Caps%2C518&sr=1-2-93291ede-2a7a-4e75-a6c2-b89c29736263#customerReviews']

In [64]:
import time
rating=[]
for i in rating_url[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        ratings = driver.find_element(By.XPATH,".//span[@class='a-icon-alt']/..")
        ratings = ratings.get_attribute('innerHTML').split(">")[1].split(" ")[0]
        L_R.append(ratings)
    except:
        L_R.append("00")
L_R

['5.0',
 '4.5',
 'Previous',
 '4.5',
 '4.5',
 'Previous',
 '4.3',
 '4.5',
 'Previous',
 '4.0']

In [65]:
Data = pd.DataFrame({"Title":Name,"Ratings":L_R,"Price":L_P})
Data

                                               Title   Ratings   Price
0  (Renewed) HP Zbook Mini Server Laptop Intel E3...       5.0  65,990
1  (Renewed) HP Zbook Mini Server Laptop Intel E3...       4.5  74,990
2  (Renewed) HP Zbook Mini Server Laptop Intel E3...  Previous  47,990
3  (Renewed) HP Zbook Mini Server Laptop Intel E3...       4.5  56,990
4  (Renewed) HP Zbook Mini Server Laptop Intel E3...       4.5  64,990
5  (Renewed) HP Zbook Mini Server Laptop Intel E3...  Previous  48,990
6  (Renewed) HP Zbook Mini Server Laptop Intel E3...       4.3  49,990
7  (Renewed) HP Zbook Mini Server Laptop Intel E3...       4.5  58,990
8  (Renewed) HP Zbook Mini Server Laptop Intel E3...  Previous  51,990
9  (Renewed) HP Zbook Mini Server Laptop Intel E3...       4.0  69,990

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [72]:
driver.get("http://www.azquotes.com/")

In [73]:
Top_Quotes = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
Top_Quotes.click()

In [74]:
Quote =[]
Auther =[]
Type_Of_Quote =[]

In [75]:
for page in range(10):
    titles = driver.find_elements(By.XPATH,"//a[@class='title']")
    for i in titles:
         Quote.append(i.text)
    PD = driver.find_elements(By.XPATH,"//div[@class='author']")
    for i in PD :
        Auther.append(i.text)
    price =driver.find_elements(By.XPATH,"//div[@class='tags']")
    for i in price:
        Type_Of_Quote.append(i.text)
    next_button = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]")
    next_button.click()
    time.sleep(3)

In [76]:
Data = pd.DataFrame({"Quote":Quote,"Auther":Auther ,"Type_Of_Quote":Type_Of_Quote})
Data

,Quote,Auther,Type_Of_Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [77]:
driver.get("https://www.jagranjosh.com/")

In [78]:
g_k = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a")
g_k.click()

In [85]:
driver.execute_script("window.scrollBy(0,500)")
time.sleep(5)

In [86]:
pm = driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
pm.click()

In [87]:
Name =[]
Born_Dead = []
Term_of_Office =[]
Remarks =[]

In [88]:
pm_name = driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[2]")
for i in pm_name[0:18]:
    Name.append(i.text)
B_D = driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[3]")
for i in B_D:
    Born_Dead.append(i.text)
T_O =driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[4]")
for i in T_O:
    Term_of_Office.append(i.text)
remark = driver.find_elements(By.XPATH,"//div[@class='table-box']/table/tbody/tr/td[5]")
for i in remark:
    Remarks.append(i.text)

In [89]:
Data = pd.DataFrame({" Name":Name,"Born_Dead":Born_Dead,"Term_of_Office":Term_of_Office,"Remarks":Remarks})
Data

,Name,Born_Dead,Term_of_Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [90]:
driver.get("https://www.motor1.com/")

In [91]:
driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]").click()

In [92]:
driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/button").click()

In [93]:
driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a").click()

In [94]:
driver.execute_script("window.scrollBy(0,100)")

In [95]:
driver.find_element(By.XPATH,"/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[7]/div/div[1]/h3/a").click()

In [96]:
Car_Name =[]
Price =[]

In [97]:
name = driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in name[0:50]:
    Car_Name.append(i.text)
price = driver.find_elements(By.XPATH,"//p/strong")
for i in price[0:50]:
    Price.append(i.text)

In [98]:
Data = pd.DataFrame({"Car_Name":Car_Name ,"Price":Price })
Data

                           Car_Name                 Price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million