In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")
import re
from selenium.webdriver.common.action_chains import ActionChains

# Q 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [31]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [32]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [33]:
driver.execute_script("window.scrollBy(0,500)")

In [34]:
Rank =[]
Vedio_Name =[]
Artist =[]
Upload_Date = []
Views =[]

In [35]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
     Rank.append("-")
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody/tr/td[2]"):
        Vedio_Name.append(i.text)
except NoSuchElementException:
     Vedio_Name.append("-")
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
     Artist.append("-")
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody/tr/td[5]"):
        Upload_Date.append(i.text)
except NoSuchElementException:
     Upload_Date.append("-")
            
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']//tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
     Views.append("-")

In [36]:
Data =pd.DataFrame({})
Data["Rank"] = Rank
Data["Vedio_Name "]=Vedio_Name
Data["Artist"] = Artist
Data["Upload_Date"] =Upload_Date
Data ["Views"] = Views
Data

,Rank,Vedio_Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[44]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.38
30,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","November 2, 2020","June 17, 2016"
31,"""Despacito""[7]",Luis Fonsi,"2,993,700,000","August 4, 2017","January 12, 2017"
32,"""See You Again""[18]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
33,"""Gangnam Style""⁂[27]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
34,"""Baby""*[63]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
35,"""Bad Romance""[67]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
36,"""Charlie Bit My Finger""‡[71]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
37,"""Evolution of Dance""[74]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
38,"""Girlfriend""‡[76][77]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
39,"""Evolution of Dance""[74]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
40,"""Music Is My Hot Hot Sex""‡[81]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
41,"""Evolution of Dance""*[74]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
42,"""Pokémon Theme Music Video""‡[87]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
43,"""Myspace – The Movie""‡[92][93]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
44,"""Phony Photo Booth""‡[96]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
45,"""The Chronic of Narnia Rap""‡[98]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
46,"""Cross Bar""‡[100]",joeB,"1,000,000","December 10, 2005","October 21, 2005"
47,"""Ronaldinho: Touch of Gold""‡*[103]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
48,"""I/O Brush""‡*[106]",larfus,"247,000","October 29, 2005","October 5, 2005"
49,"""Me at the zoo""[109]",jawed,1,"April 23, 2005","April 23, 2005"

# 2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:

A) Match title (I.e. 1stODI)

B) Series

C) Place

D) Date

E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
url=('https://www.bcci.tv/')
driver.get(url)

In [4]:
btn=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
driver.get(btn.get_attribute("href"))
time.sleep(3)

# creating empty lists for scraping the data
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [14]:
for i in driver.find_elements(By.XPATH,"//div[@class='match-card-top']/h5"):
    Match_Title.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    Series.append(i.text)
    
for i in driver.find_elements(By.XPATH,"//div[@class='fixture__description u-unskewed-text']/p/span"):
    Place.append(i.text)
        
for i in driver.find_elements(By.XPATH,"//span[@class='fixture__datetime tablet-only']/strong[1]"):
    Date.append(i.text.replace('\n',' '))

date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]

# creating data frame
fixture=pd.DataFrame({'Match Title': Match_Title,
                          "Series": Series,
                          "Place": Place,
                          "Date": date,
                          "Time": Time})
fixture

NameError: name 'Date' is not defined

In [15]:
driver.close()

# Q3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [5]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [7]:
#Click Economy
Economy=driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
Economy.click()

#Click India
India= driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]")
India.click()

#Click on India GPD
GDP=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [9]:
#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_19_20=[]
GSDP_at_current_price_18_19=[]
Share_18_19=[]
GDP_billion=[]

#Scraping Rank
rank= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)
        
#Scraping State
state= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)
                
#Scraping GSDP_at_current_price_19_20
gSDP_at_current_price_19_20= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gSDP_at_current_price_19_20:
    if i.text is None:
        GSDP_at_current_price_19_20.append('--')
    else:
        GSDP_at_current_price_19_20.append(i.text)
        
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)
        
#Scraping Share_18_19
share_18_19= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_18_19:
    if i.text is None:
        Share_18_19.append('--')
    else:
        Share_18_19.append(i.text)
        
#Scraping GDP_billion
gDP_billion= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)
        
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_19_20']=GSDP_at_current_price_19_20
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19
GDP_India['Share_18_19']=Share_18_19
GDP_India['GDP_billion']=GDP_billion
GDP_India

,Rank,State,GSDP_at_current_price_19_20,GSDP_at_current_price_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [10]:
driver.close()

# Q4. Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://github.com/ "
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [3]:
Trail_Btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/main/div[1]/div[2]/div/div/div[2]/div[2]/a")
Trail_Btn.click()

In [9]:
from selenium.webdriver import ActionChains
a = ActionChains(driver)
time.sleep(3)
m  =driver.find_element(By.XPATH,"(//button[@type='button'])[5]")
a.move_to_element(m).perform()
Trading =driver.find_element(By.XPATH,"(//ul[@class='list-style-none f5']/li[2])[6]")
Trading.click()

In [28]:
# Creating emplty list 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

#scraping Repository_title
repository_title=driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']")
for i in repository_title[:23]:
        Repository_title.append(i.text)
        
#scraping Repository_description
repository_description=driver.find_elements(By.XPATH,"//article[@class='Box-row']/p")
for i in repository_description[:23]:
        Repository_description.append(i.text)
        

#scraping Contributors_count
contributors_count=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3'][1]")
for i in contributors_count[:23]:
        Contributors_count.append(i.text)
        

#scraping Language_used
language_used=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")
for i in language_used[:23]:
        Language_used.append(i.text)
        
Treding_rep=pd.DataFrame({})
Treding_rep['Repository_title']= Repository_title
Treding_rep['Repository_description']= Repository_description
Treding_rep['Contributors_count']= Contributors_count
Treding_rep['Language_used']= Language_used
Treding_rep

,Repository_title,Repository_description,Contributors_count,Language_used
0,artidoro / qlora,QLoRA: Efficient Finetuning of Quantized LLMs,"3,155",Jupyter Notebook
1,gptlink / gptlink,10分钟搭建自己可免费商用的ChatGPT环境，搭建简单，包含用户，订单，任务，付费等功能,513,PHP
2,ThePrimeagen / ts-rust-zig-deez,You like pytorch? You like micrograd? You love...,84,OCaml
3,geohot / tinygrad,A GPT-4 AI Tutor Prompt for customizable perso...,"12,792",Python
4,JushBJJ / Mr.-Ranedeer-AI-Tutor,TypeScript for Tiny IoT Devices,"9,501",TypeScript
5,microsoft / devicescript,A C Compiler that fits in the 512 byte boot se...,677,C
6,xorvoid / sectorc,InternGPT (iGPT) is an open source demo platfo...,530,Python
7,OpenGVLab / InternGPT,Windows system utilities to maximize productivity,"1,347",C#
8,microsoft / PowerToys,"Online Demo and Implementation of DragGAN - ""D...","91,385",Python
9,Zeqiang-Lai / DragGAN,🍦VanJS: World's smallest reactive UI framework,"2,561",JavaScript
10,vanjs-org / van,ranger-like terminal file manager written in Rust,"1,085",Rust
11,kamiyaa / joshuto,Integrate cutting-edge LLM technology quickly ...,"2,100",C#
12,microsoft / semantic-kernel,"潘多拉，一个让你呼吸顺畅的ChatGPT。Pandora, a ChatGPT that h...","9,380",Python
13,AggressiveUser / AllForOne,Examples and guides for using the OpenAI API,202,Python
14,pengzhile / pandora,Immersive Dual Web Page Translation Extension ...,"9,621",Jupyter Notebook
15,openai / openai-cookbook,Windows Dev Home Application,"36,889",TypeScript
16,immersive-translate / immersive-translate,LAVIS - A One-stop Library for Language-Vision...,"7,545",C#
17,microsoft / devhome,⚡ Building applications with LLMs through comp...,"1,346",Python
18,salesforce / LAVIS,The official documentation and code samples fo...,"5,072",Python
19,hwchase17 / langchain,Real-time face swap for PC streaming or video ...,"42,553",Jupyter Notebook
20,Azure / cognitive-search-vector-pr,The most comprehensive database of Chinese poe...,144,Python
21,iperov / DeepFaceLive,Sample code and notebooks for Generative AI on...,"11,960",JavaScript
22,chinese-poetry / chinese-poetry,带有用户管理和后台管理系统的 ChatGPT WebUI,"40,957",Jupyter Notebook

In [29]:
driver.close()

# 5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
    
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [38]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.billboard.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [41]:
time.sleep(3)
Charts= driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
Charts.click()
time.sleep(6)

In [44]:
driver.execute_script("window.scrollBy(0,500)")

In [47]:
view_chart =driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
view_chart.click()

In [50]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]
song_name = driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li/h3")
for i in song_name:
    Song_name.append(i.text)
artist_name =driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[1]/span")
for i in artist_name:
    Artist_name.append(i.text)
last_week =driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[4]")
for i in last_week:
    Last_week_rank.append(i.text)
peak_rank = driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[5]")
for i in peak_rank:
    Peak_rank.append(i.text)
weeks_on_board = driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']/ul/li[6]")
for i in weeks_on_board:
    Weeks_on_board.append(i.text)
    
Hot_Songs=pd.DataFrame({})
Hot_Songs['Song_name']=Song_name
Hot_Songs['Artist_name']=Artist_name
Hot_Songs['Last_week_rank']=Last_week_rank
Hot_Songs['Peak_rank']=Peak_rank
Hot_Songs['Weeks_on_board']=Weeks_on_board

Hot_Songs

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Last Night,Morgan Wallen,1,1,16
1,All My Life,Lil Durk Featuring J. Cole,-,2,1
2,Flowers,Miley Cyrus,3,1,18
3,Kill Bill,SZA,2,1,23
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,4,4,9
...,...,...,...,...,...
95,Forever,Lil Baby Featuring Fridayy,87,8,19
96,Private Landing,Don Toliver Featuring Justin Bieber & Future,100,72,6
97,I Heard,YoungBoy Never Broke Again,-,98,1
98,Sunrise,Morgan Wallen,89,30,11
99,Happy,NF,95,54,6

In [51]:
driver.close()

# 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [58]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [59]:
# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

driver.execute_script("window.scrollBy(0,500)")
# Scraping Book_name
book_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)
        
# Scraping Author_name
author_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
# Scraping Volumes_sold
volumes_sold=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Author_name
publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

Top_selling_book=pd.DataFrame({})
Top_selling_book['Book_name']=Book_name
Top_selling_book['Author_name']=Author_name
Top_selling_book['Volumes_sold']=Volumes_sold
Top_selling_book['Publisher']=Publisher
Top_selling_book['Genre']=Genre
Top_selling_book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [60]:
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [61]:
driver=webdriver.Chrome("chromedriver.exe") 
url ="https://www.imdb.com/list/ls095964455/"
driver.get(url)
driver.maximize_window()

In [62]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#Scraping Name
name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
    
#Scraping Year_span
year_span=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
for i in year_span:
    Year_span.append(i.text)

    
#Scraping Genre
genre=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[5]")
for i in genre:
    Genre.append(i.text)
    
    
#Scraping Run_time
run_time=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small']/span[3]")
for i in run_time:
    Run_time.append(i.text)
    
#Scraping Ratings
ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-widget']/div/span[2]")
for i in ratings:
    Ratings.append(i.text)
    
#Scraping Votes
votes=driver.find_elements(By.XPATH,"//p[@class='text-muted text-small'][3]/span[2]")
for i in votes:
    Votes.append(i.text)
    
Top_shows=pd.DataFrame({})
Top_shows['Name']=Name
Top_shows['Year_span']=Year_span
Top_shows['Genre']=Genre
Top_shows['Run_time']=Run_time
Top_shows['Ratings']=Ratings
Top_shows['Votes']=Votes
Top_shows

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,163,013"
1,Stranger Things,(2016–2022),"Drama, Fantasy, Horror",51 min,8.7,"1,242,958"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,027,547"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,262"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,375"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,691"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,726"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,712"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,218"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,310"

# Q8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [63]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(4)

url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [65]:
view_dataste= driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
view_dataste.click()
time.sleep(4)

In [66]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

#scraping Dataset name
data_name= driver.find_elements(By.XPATH,"//p[@class='normal']/b/a[1]")
for i in data_name:
    if i.text is None :
        Dataset_name.append("--") 
    else:
        Dataset_name.append(i.text)

time.sleep(4)        
#Scraping data Type
data_type=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[2]/p")
for i in data_type[1:]:
    if i.text is None :
        Data_type.append("--") 
    else:
        Data_type.append(i.text)

time.sleep(4) 
#Scraping Task
task=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[3]/p")
for i in task[1:]:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
        
time.sleep(4) 
#Scraping Attribute_type
attribute_type=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[4]/p")
for i in attribute_type[1:]:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)

time.sleep(4)         
#Scraping No_of_instances
no_of_instances=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[5]/p")
for i in no_of_instances[1:]:
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)

time.sleep(4)         
#Scraping No_of_attribute
no_of_attribute=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[6]/p")
for i in no_of_attribute[1:]:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)

time.sleep(4) 
#Scraping Year
year=driver.find_elements(By.XPATH,"//table[@border='1']/tbody/tr/td[7]/p")
for i in year[1:]:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
        
data_dataset=pd.DataFrame({})
data_dataset['Dataset_name']= Dataset_name
data_dataset['Data_type']= Data_type
data_dataset['Task']= Task
data_dataset['Attribute_type']= Attribute_type
data_dataset['No_of_instances']= No_of_instances
data_dataset['No_of_attribute']= No_of_attribute
data_dataset['Year']= Year

data_dataset

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
    
A) Name

B) Designation

C)Company 

D)Skills they hire for 

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pan

In [6]:
# connecting to the web driver
driver=webdriver.Chrome("chromedriver.exe")

# getting the webpage of mentioned url
url = ("https://www.naukri.com/hr-recruiters-consultants")
driver.get(url)
time.sleep(3)

In [7]:
search = driver.find_element(By.XPATH,"//div[@class='inpWrap']//input")
search.send_keys("Data Science")

btn = driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']").click()
time.sleep(3)

In [8]:
# creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

# scraping data of Names
for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)


# scraping data of Designation
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)


# scraping data of Company Name
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)


# scraping data of Skills
for i in driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
time.sleep(3)


# scraping data of Location
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/span/small"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Location.append(i.text)
    except NoSuchElementException:
        Location.append('-')
time.sleep(3)


# creating dataframe for scraped data
Naukri = pd.DataFrame({})
Naukri['Name'] = Name[:49]
Naukri['Designation'] = Designation[:49]
Naukri['Company'] = Company[:49]
Naukri['Skills'] = Skills[:49]
Naukri['Location'] = Location[:49]
Naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
36,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
37,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
38,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
39,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
40,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
41,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
42,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
43,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
44,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
45,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
46,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
47,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
48,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore

In [9]:
driver.close()